services:
  - type: web
    name: rekosol-gestion-gastos
    env: static
    rootDir: .
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    pullRequestPreviewsEnabled: true
    headers:
      - path: /*
        name: X-Robots-Tag
        value: noindex

